@charset "utf-8";

* {
  margin  : 0;
  padding : 0;
}

body {
  width  :600px;
  height : 300px;
  background : #fff;
}

ul {
  overflow-x: hidden;
}

ul li:nth-child(odd) {
  background: #eee;
  white-space: nowrap;
}

ul a {
  color: black;
  display: block;
  border-bottom: 1px solid black;
  text-decoration: none;
}

ul a:hover {
  background: #ffffcf;
}

img {
  float: right;
}
